:root {
  --g1: rgb(98, 0, 234);
  --g2: rgb(236, 64, 122);
  --g3: rgb(250, 1, 55);
}

#button {
  @apply border bg-black p-5 font-bold border-white w-full relative rounded-lg md:rounded-none md:h-32 md:w-48;
}

#button:before {
  background: linear-gradient(
    130deg,
    transparent 0% 33%,
    rgb(98, 0, 234) 56%,
    rgb(236, 64, 122) 83.5%,
    rgb(250, 1, 55) 100%
  );
  background-position: 0% 0%;
  background-size: 300% 300%;
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  transition: background-position 350ms ease;
  left: 0;
  top: 0;
}

#button:hover:before {
  background-position: 100% 100%;
}
